@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

body {
  background-color: #eaeaea;
  font-family: 'Poppins', sans-serif;
  color: #2d2d2d;
  font-size: 14px;
}

a {
  text-decoration: none;
}

// header
.header {
  .form-control {
    font-size: 14px;
  }
  .cart {
    color: #fff;
    font-size: 25px;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .nav-item {
    .nav-link {
      color: #fff;
    }
  }
  .btn-login {
    color: #fff;
    background-color: #061F40;
    border-color: #fff;

    &:hover {
      color: #061F40;
      background-color: #fff;
    }
  }
  .btn-regist {
    color: #E3FC00;
    background-color: #061F40;
    border-color: #E3FC00;

    &:hover {
      // #ffc107
      color: #061F40;
      background-color: #E3FC00;
    }
  }
  
  @media screen and (min-width: 994px) {
    .form-control {
      width: 350px;
    }
  }
  @media screen and (max-width: 994px) {
    .navbar-nav {
      text-align: center;
    }
  }
}
// header

// product
.product {
  .title-product {
    background-color: #fff;
    padding: 5px 10px;
    border-color: #061F40;

    .text-center {
      margin-top: 5px;
    }
  }

  .card:hover {
    border: 1px solid #2d2d2d;
  }

  .card-body {
    .card-text {
      text-align: right;
    }
  }

  .seemore {
    width: 540px;
      
    a {
      float: right;
      text-decoration: underline;
    }
  }
}
// product
